<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Foosball - SavaM</title>
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    	<h1>FOOSBALL</h1>
    	<div id="content">
        	{% block content %}{% endblock %}
        </div>
        <h3>
        	Foosball project &copy; 2014. |
        	<a href="http://www.wtfpl.net/" title="This project is licenced under WTFPL" target="_blank">
        		<img src="http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-badge-4.png" class="wtfpl" alt="WTFPL" />
        	</a>
        	 | Sava Minic
        </h3>
    	<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    	<script type="text/javascript" src="/js/react.js"></script>
    	<script type="text/javascript" src="/js/standings.js"></script>
    	<script type="text/javascript" src="/js/matches.js"></script>
    </body>
</html>
